#include <windows.h>

// 只需要在這裡修改版本號
#define VER_MAJOR 1     // 結構性修改
#define VER_MINOR 0     // 介面修改
#define VER_PATCH 2     // 其他修改
#define VER_BUILD 0

// 自動生成版本格式 - 不需要修改以下內容
#define VER_FILEVERSION VER_MAJOR,VER_MINOR,VER_PATCH,VER_BUILD
#define VER_PRODUCTVERSION VER_MAJOR,VER_MINOR,VER_PATCH,VER_BUILD

#define STRINGIFY(x) #x
#define TOSTRING(x) STRINGIFY(x)
#define VER_FILEVERSION_STR TOSTRING(VER_MAJOR) "." TOSTRING(VER_MINOR) "." TOSTRING(VER_PATCH) "." TOSTRING(VER_BUILD)
#define VER_PRODUCTVERSION_STR TOSTRING(VER_MAJOR) "." TOSTRING(VER_MINOR) "." TOSTRING(VER_PATCH)

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_FILEVERSION
PRODUCTVERSION  VER_PRODUCTVERSION
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS__WINDOWS32
FILETYPE        VFT_DLL
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "FileDescription",  "YOLOv11 TensorRT Detection Library"
            VALUE "FileVersion",      VER_FILEVERSION_STR
            VALUE "ProductVersion",   VER_PRODUCTVERSION_STR
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
